name: Check

on:
  workflow_dispatch:
  merge_group:
  pull_request:
    branches:
      - main

# cancel previous runs if new commits are pushed into the same PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Detect dirty go mod
        run: |
          make tidy
          git diff --exit-code -- go.mod go.sum

      - name: Check formatting
        run: |
          make format
          git diff --exit-code -- .

      - name: Lint
        run: make lint
